        $use-normalize: true;
        $class-prefix: '';
        $class-connector: '-';
        $class-connectors: '';
        $abbr-container: container;
        $abbr-box-decoration-break: decoration;
        $abbr-box-sizing: box;
        $abbr-float: float;
        $abbr-clear: clear;
        $abbr-object-fit: object;
        $abbr-object-position: object;
        $abbr-overflow: overflow;
        $abbr-overscroll-behavior: overscroll;
        $abbr-position: position;
        $abbr-inset: inset;
        $abbr-top: top;
        $abbr-right: right;
        $abbr-bottom: bottom;
        $abbr-left: left;
        $abbr-visible: visible;
        $abbr-z-index: z;
        $abbr-flex: flex;
        $abbr-order: order;
        $abbr-grid: grid;
        $abbr-grid-column: col;
        $abbr-grid-row: row;
        $abbr-grid-auto: auto;
        $abbr-gap: gap;
        $abbr-justify-content: justify;
        $abbr-justify-items: justify-items;
        $abbr-justify-self: justify-self;
        $abbr-align-content: content;
        $abbr-align-items: items;
        $abbr-align-self: self;
        $abbr-place-content: place-content;
        $abbr-place-items: place-items;
        $abbr-place-self: place-self;
        $abbr-padding: p;
        $abbr-margin: m;
        $abbr-width: w;
        $abbr-height: h;
        $screens-sm: 640px;
        $screens-md: 768px;
        $screens-lg: 1024px;
        $screens-xl: 1280px;
        $screens-2xl: 1536px;
        $colors-brand: #1890ff;
        $colors-inherit: inherit;
        $colors-current: current;
        $colors-transparent: transparent;
        $colors-black: #000;
        $colors-white: #fff;
        $colors-gray: #111827;
        $colors-red: #f5222d;
        $colors-yellow: #fadb14;
        $colors-green: #52c41a;
        $colors-blue: #1890ff;
        $colors-indigo: #312e81;
        $colors-purple: #722ed1;
        $colors-pink: #eb2f96;
        $spacing-0: 0px;
        $spacing-1: 0.25rem;
        $spacing-2: 0.5rem;
        $spacing-3: 0.75rem;
        $spacing-4: 1rem;
        $spacing-5: 1.25rem;
        $spacing-6: 1.5rem;
        $spacing-7: 1.75rem;
        $spacing-8: 2rem;
        $spacing-9: 2.25rem;
        $spacing-10: 2.5rem;
        $spacing-11: 2.75rem;
        $spacing-12: 3rem;
        $spacing-14: 3.5rem;
        $spacing-16: 4rem;
        $spacing-20: 5rem;
        $spacing-24: 6rem;
        $spacing-28: 7rem;
        $spacing-32: 8rem;
        $spacing-36: 9rem;
        $spacing-40: 10rem;
        $spacing-44: 11rem;
        $spacing-48: 12rem;
        $spacing-52: 13rem;
        $spacing-56: 14rem;
        $spacing-60: 15rem;
        $spacing-64: 16rem;
        $spacing-72: 18rem;
        $spacing-80: 20rem;
        $spacing-96: 24rem;
        $spacing-px: 1px;
        $spacing-0\.5: 0.125rem;
        $spacing-1\.5: 0.375rem;
        $spacing-2\.5: 0.625rem;
        $spacing-3\.5: 0.875rem;
