    $class-prefix: '';
    $class-connector: '-';
    $class-connectors: '';
    $use-normalize: true;
        $colours-primary: #fc0;
        $sizes-small: 100px;
        $sizes-medium: 500px;
        $sizes-large: 1000px;
        $zIndex-model: 100;
        $zIndex-dropdown: 50;
        $zIndex-header: 10;
        $screens-sm: 640px;
        $screens-md: 768px;
        $screens-lg: 1024px;
        $screens-xl: 1280px;
        $screens-2xl: 1536px;
        $gridTemplateRows-1: repeat(1, minmax(0, 1fr));
        $gridTemplateRows-2: repeat(2, minmax(0, 1fr));
        $gridTemplateRows-3: repeat(3, minmax(0, 1fr));
        $gridTemplateRows-4: repeat(4, minmax(0, 1fr));
        $gridTemplateRows-5: repeat(5, minmax(0, 1fr));
        $gridTemplateRows-6: repeat(6, minmax(0, 1fr));
        $gridTemplateRows-none: none;
