@use '../base/var';

// 混合颜色
// $color 需要被减淡的颜色
// $weight 被减淡的颜色的权重
@function mix-color($color, $weight, $mix-color: #fff) {
  @return mix($color, $mix-color, $weight);
}

// 计算函数
@function big($a, $b: 1, $operator:'plus') {
  $result: '';

  @if $operator == 'plus' {
    $result: calc($a + $b);
  }
  @else if $operator == 'minus' {
    $result: calc($a - $b);
  }
  @else if $operator == 'times' {

    @if $b == 0 {
      $b: 1;
    }

    $result: calc($a * $b);
  }
  @else if $operator == 'div' {

    @if $b == 0 {
      $b: 1;
    }

    $result: calc($a / $b);
  }
  @else {
    $result: $a;
  }

  @return $result;
}

// 给类名打上选择器、前缀
@function selector-decorator($name, $selector: '.', $prefix: var.$class-prefix) {
  $_prefix: '';

  @if $prefix != '' {
    $_prefix: $prefix + var.$class-connector;
  }

  @return $selector + $_prefix + $name;
}

// 给类名打上连接符
@function connector-decorator($list...) {
  $result: '';
  $list-len: 0;
  $new-list: ();

  $_index: 1;

  @while $_index <= length($list) {

    $value: nth($list: $list, $n: $_index);

    @if $value != '' {
      $new-list: append(
        $list: $new-list,
        $val: $value,
        $separator: comma
      );
    }

    $_index: big($_index);

  }

  $list-len: length($list: $new-list);

  $connector: var.$class-connector;

  $connectors: var.$class-connectors;

  @if type-of($value: $connectors) == 'string' {
    $connectors: (unquote($string: $connectors));
  }

  $connectors-len: 0;

  @if var.$class-connector {
    $connectors-len: length($list: $connectors);
  }

  @if $connectors-len > 0 {
    $connector: nth($list: $connectors, $n: 1);
  }

  $index: 1;

  @while $index <= $list-len {

    @if $connectors-len > 0 {

      @if $index <= $connectors-len {
        $connector: nth($list: $connectors, $n: $index);
      }

    }

    @if $index == $list-len {
      $connector: '';
    }

    $result: $result + nth($list: $new-list, $n: $index) + $connector;

    $index: big($index);

  }

  @return $result;
}

@function class-generator($list...) {
  @return selector-decorator(connector-decorator($list...));
}

// 在给定值后面添加单位（rem）
@function vrem($value) {
  @return #{$value + rem};
}

// 带透明度的颜色混合
@function lighter-color($color, $opacity) {
  @return mix-color($color, percentage(calc($opacity / 10 / 100)));
}

// Generator


// 颜色明度数组生成器
@function color-brightness-generator() {
  @return (
    50,
    100,
    200,
    300,
    400,
    500,
    600,
    700,
    800,
    900
  );
}

// 透明度数组生成器
@function opacities-generator() {
  @return (
    0: 0,
    5: 0.05,
    10: 0.1,
    20: 0.2,
    30: 0.3,
    40: 0.4,
    50: 0.5,
    60: 0.6,
    70: 0.7,
    75: 0.75,
    80: 0.8,
    90: 0.9,
    95: 0.95,
    100: 1
  );
}

// 数字列表生成器
@function number-list-generator($min: 0, $max: 100, $step: 1) {
  $list: ();
  $index: $min;

  @while $index <= $max {
    $list: append(
      $list: $list,
      $val: $index,
      $separator: comma
    );

    $index: big($index, $step);
  }

  @return $list;
}