$use-normalize: true;
$use-rpx: true;
$use-rem2rpx: 37.5;
$class-prefix: '';
$class-separators: ('-', );
$customEscape-dot: d;
$customEscape-slash: s;
$abbr-container: container;
$abbr-box-decoration-break: decoration;
$abbr-box-sizing: box;
$abbr-display: '';
$abbr-float: float;
$abbr-clear: clear;
$abbr-isolation: '';
$abbr-object-fit: object;
$abbr-object-position: object;
$abbr-overflow: overflow;
$abbr-overscroll-behavior: overscroll;
$abbr-position: '';
$abbr-inset: inset;
$abbr-top: top;
$abbr-right: right;
$abbr-bottom: bottom;
$abbr-left: left;
$abbr-visible: visible;
$abbr-z-index: z;
$abbr-flex: flex;
$abbr-flex-direction: flex;
$abbr-flex-wrap: flex;
$abbr-flex-grow: flex;
$abbr-flex-shrink: flex;
$abbr-order: order;
$abbr-grid: grid;
$abbr-grid-column: col;
$abbr-grid-row: row;
$abbr-grid-auto: auto;
$abbr-gap: gap;
$abbr-justify-content: justify;
$abbr-justify-items: justify-items;
$abbr-justify-self: justify-self;
$abbr-align-content: content;
$abbr-align-items: items;
$abbr-align-self: self;
$abbr-place-content: place-content;
$abbr-place-items: place-items;
$abbr-place-self: place-self;
$abbr-padding: p;
$abbr-margin: m;
$abbr-width: w;
$abbr-height: h;
$abbr-border-radius: rounded;
$abbr-border-width: border;
$abbr-border-color: border;
$abbr-border-opacity: border-opacity;
$abbr-border-style: border;
$abbr-divide-width: divide;
$abbr-divide-color: divide;
$abbr-divide-opacity: divide-opacity;
$abbr-divide-style: divide;
$abbr-font-family: font;
$abbr-font-size: text;
$abbr-font-smoothing: antialiased;
$abbr-font-style: italic;
$abbr-font-weight: font;
$abbr-letter-spacing: tracking;
$abbr-line-height: leading;
$abbr-list-style: list;
$abbr-text-align: text;
$abbr-text-color: text;
$abbr-text-opacity: text-opacity;
$abbr-text-decoration: '';
$abbr-text-transform: '';
$abbr-text-overflow: overflow;
$abbr-line-clamp: line-clamp;
$abbr-vertical-align: align;
$abbr-white-space: whitespace;
$abbr-word-break: break;
$abbr-text-indent: text-indent;
$abbr-background-attachment: bg;
$abbr-background-clip: bg-clip;
$abbr-background-color: bg;
$abbr-background-opacity: bg-opacity;
$abbr-background-origin: bg-origin;
$abbr-background-position: bg;
$abbr-background-repeat: bg;
$abbr-background-size: bg;
$abbr-background-image: bg;
$abbr-background-image-gradient-from: from;
$abbr-background-image-gradient-via: via;
$abbr-background-image-gradient-to: to;
$abbr-box-shadow: shadow;
$abbr-opacity: opacity;
$abbr-mix-blend-mode: mix-blend;
$abbr-background-blend-mode: bg-blend;
$abbr-transition-property: transition;
$abbr-transition-duration: duration;
$abbr-transition-timing-function: ease;
$abbr-transition-delay: delay;
$abbr-animation: animate;
$abbr-transform: transform;
$abbr-transform-origin: origin;
$abbr-scale: scale;
$abbr-rotate: rotate;
$abbr-translate: translate;
$abbr-skew: skew;
$abbr-appearance: appearance;
$abbr-cursor: cursor;
$abbr-outline: outline;
$abbr-pointer-events: pointer-events;
$abbr-resize: resize;
$abbr-user-select: select;
$abbr-screen-reader: sr;
$map-screens: ('sm': 640px,
'md': 768px,
'lg': 1024px,
'xl': 1280px,
'2xl': 1536px,
);
$map-colors: ('brand': #1890ff,
'inherit': inherit,
'current': currentColor,
'transparent': transparent,
'black': #000,
'white': #fff,
'gray': #111827,
'red': #f5222d,
'yellow': #fadb14,
'green': #52c41a,
'blue': #1890ff,
'indigo': #312e81,
'purple': #722ed1,
'pink': #eb2f96,
);
$map-spacing: ('0': 0px,
'1': 0.25rem,
'2': 0.5rem,
'3': 0.75rem,
'4': 1rem,
'5': 1.25rem,
'6': 1.5rem,
'7': 1.75rem,
'8': 2rem,
'9': 2.25rem,
'10': 2.5rem,
'11': 2.75rem,
'12': 3rem,
'14': 3.5rem,
'16': 4rem,
'20': 5rem,
'24': 6rem,
'28': 7rem,
'32': 8rem,
'36': 9rem,
'40': 10rem,
'44': 11rem,
'48': 12rem,
'52': 13rem,
'56': 14rem,
'60': 15rem,
'64': 16rem,
'72': 18rem,
'80': 20rem,
'96': 24rem,
'px': 1px,
'0.5': 0.125rem,
'1.5': 0.375rem,
'2.5': 0.625rem,
'3.5': 0.875rem,
);
$map-inset: ('0': 0px,
'1': 0.25rem,
'2': 0.5rem,
'3': 0.75rem,
'4': 1rem,
'5': 1.25rem,
'6': 1.5rem,
'7': 1.75rem,
'8': 2rem,
'9': 2.25rem,
'10': 2.5rem,
'11': 2.75rem,
'12': 3rem,
'14': 3.5rem,
'16': 4rem,
'20': 5rem,
'24': 6rem,
'28': 7rem,
'32': 8rem,
'36': 9rem,
'40': 10rem,
'44': 11rem,
'48': 12rem,
'52': 13rem,
'56': 14rem,
'60': 15rem,
'64': 16rem,
'72': 18rem,
'80': 20rem,
'96': 24rem,
'auto': auto,
'px': 1px,
'0.5': 0.125rem,
'1.5': 0.375rem,
'2.5': 0.625rem,
'3.5': 0.875rem,
'1/2': 50%,
'1/3': 33.333333%,
'2/3': 66.666667%,
'1/4': 25%,
'2/4': 50%,
'3/4': 75%,
'full': 100%,
);
$map-flex: ('1': 1 1 0%,
'auto': 1 1 auto,
'initial': 0 1 auto,
'none': none,
);
$map-flexGrow: ('0': 0,
'DEFAULT': 1,
);
$map-flexShrink: ('0': 0,
'DEFAULT': 1,
);
$map-order: ('1': 1,
'2': 2,
'3': 3,
'4': 4,
'5': 5,
'6': 6,
'7': 7,
'8': 8,
'9': 9,
'10': 10,
'11': 11,
'12': 12,
'first': -9999,
'last': 9999,
'none': 0,
);
$map-zIndex: ('0': 0,
'10': 10,
'20': 20,
'30': 30,
'40': 40,
'50': 50,
'auto': auto,
);
$map-gridAutoColumns: ('auto': auto,
'min': min-content,
'max': max-content,
'fr': minmax(0, 1fr),
);
$map-gridAutoRows: ('auto': auto,
'min': min-content,
'max': max-content,
'fr': minmax(0, 1fr),
);
$map-gridColumn: ('auto': auto,
'span-1': span 1 / span 1,
'span-2': span 2 / span 2,
'span-3': span 3 / span 3,
'span-4': span 4 / span 4,
'span-5': span 5 / span 5,
'span-6': span 6 / span 6,
'span-7': span 7 / span 7,
'span-8': span 8 / span 8,
'span-9': span 9 / span 9,
'span-10': span 10 / span 10,
'span-11': span 11 / span 11,
'span-12': span 12 / span 12,
);
$map-gridColumnEnd: ('1': 1,
'2': 2,
'3': 3,
'4': 4,
'5': 5,
'6': 6,
'7': 7,
'8': 8,
'9': 9,
'10': 10,
'11': 11,
'12': 12,
'13': 13,
'auto': auto,
);
$map-gridColumnStart: ('1': 1,
'2': 2,
'3': 3,
'4': 4,
'5': 5,
'6': 6,
'7': 7,
'8': 8,
'9': 9,
'10': 10,
'11': 11,
'12': 12,
'13': 13,
'auto': auto,
);
$map-gridRow: ('auto': auto,
'span-1': span 1 / span 1,
'span-2': span 2 / span 2,
'span-3': span 3 / span 3,
'span-4': span 4 / span 4,
'span-5': span 5 / span 5,
'span-6': span 6 / span 6,
);
$map-gridRowStart: ('1': 1,
'2': 2,
'3': 3,
'4': 4,
'5': 5,
'6': 6,
'7': 7,
'auto': auto,
);
$map-gridRowEnd: ('1': 1,
'2': 2,
'3': 3,
'4': 4,
'5': 5,
'6': 6,
'7': 7,
'auto': auto,
);
$map-gridTemplateColumns: ('1': repeat(1, minmax(0, 1fr)),
'2': repeat(2, minmax(0, 1fr)),
'3': repeat(3, minmax(0, 1fr)),
'4': repeat(4, minmax(0, 1fr)),
'5': repeat(5, minmax(0, 1fr)),
'6': repeat(6, minmax(0, 1fr)),
'7': repeat(7, minmax(0, 1fr)),
'8': repeat(8, minmax(0, 1fr)),
'9': repeat(9, minmax(0, 1fr)),
'10': repeat(10, minmax(0, 1fr)),
'11': repeat(11, minmax(0, 1fr)),
'12': repeat(12, minmax(0, 1fr)),
'none': none,
);
$map-gridTemplateRows: ('1': repeat(1, minmax(0, 1fr)),
'2': repeat(2, minmax(0, 1fr)),
'3': repeat(3, minmax(0, 1fr)),
'4': repeat(4, minmax(0, 1fr)),
'5': repeat(5, minmax(0, 1fr)),
'6': repeat(6, minmax(0, 1fr)),
'none': none,
);
$map-gap: ('0': 0px,
'1': 0.25rem,
'2': 0.5rem,
'3': 0.75rem,
'4': 1rem,
'5': 1.25rem,
'6': 1.5rem,
'7': 1.75rem,
'8': 2rem,
'9': 2.25rem,
'10': 2.5rem,
'11': 2.75rem,
'12': 3rem,
'14': 3.5rem,
'16': 4rem,
'20': 5rem,
'24': 6rem,
'28': 7rem,
'32': 8rem,
'36': 9rem,
'40': 10rem,
'44': 11rem,
'48': 12rem,
'52': 13rem,
'56': 14rem,
'60': 15rem,
'64': 16rem,
'72': 18rem,
'80': 20rem,
'96': 24rem,
'px': 1px,
'0.5': 0.125rem,
'1.5': 0.375rem,
'2.5': 0.625rem,
'3.5': 0.875rem,
);
$map-objectPosition: ('bottom': bottom,
'center': center,
'left': left,
'left-bottom': left bottom,
'left-top': left top,
'right': right,
'right-bottom': right bottom,
'right-top': right top,
'top': top,
);
$map-margin: ('0': 0px,
'1': 0.25rem,
'2': 0.5rem,
'3': 0.75rem,
'4': 1rem,
'5': 1.25rem,
'6': 1.5rem,
'7': 1.75rem,
'8': 2rem,
'9': 2.25rem,
'10': 2.5rem,
'11': 2.75rem,
'12': 3rem,
'14': 3.5rem,
'16': 4rem,
'20': 5rem,
'24': 6rem,
'28': 7rem,
'32': 8rem,
'36': 9rem,
'40': 10rem,
'44': 11rem,
'48': 12rem,
'52': 13rem,
'56': 14rem,
'60': 15rem,
'64': 16rem,
'72': 18rem,
'80': 20rem,
'96': 24rem,
'auto': auto,
'px': 1px,
'0.5': 0.125rem,
'1.5': 0.375rem,
'2.5': 0.625rem,
'3.5': 0.875rem,
);
$map-padding: ('0': 0px,
'1': 0.25rem,
'2': 0.5rem,
'3': 0.75rem,
'4': 1rem,
'5': 1.25rem,
'6': 1.5rem,
'7': 1.75rem,
'8': 2rem,
'9': 2.25rem,
'10': 2.5rem,
'11': 2.75rem,
'12': 3rem,
'14': 3.5rem,
'16': 4rem,
'20': 5rem,
'24': 6rem,
'28': 7rem,
'32': 8rem,
'36': 9rem,
'40': 10rem,
'44': 11rem,
'48': 12rem,
'52': 13rem,
'56': 14rem,
'60': 15rem,
'64': 16rem,
'72': 18rem,
'80': 20rem,
'96': 24rem,
'px': 1px,
'0.5': 0.125rem,
'1.5': 0.375rem,
'2.5': 0.625rem,
'3.5': 0.875rem,
);
$map-width: ('0': 0px,
'1': 0.25rem,
'2': 0.5rem,
'3': 0.75rem,
'4': 1rem,
'5': 1.25rem,
'6': 1.5rem,
'7': 1.75rem,
'8': 2rem,
'9': 2.25rem,
'10': 2.5rem,
'11': 2.75rem,
'12': 3rem,
'14': 3.5rem,
'16': 4rem,
'20': 5rem,
'24': 6rem,
'28': 7rem,
'32': 8rem,
'36': 9rem,
'40': 10rem,
'44': 11rem,
'48': 12rem,
'52': 13rem,
'56': 14rem,
'60': 15rem,
'64': 16rem,
'72': 18rem,
'80': 20rem,
'96': 24rem,
'auto': auto,
'px': 1px,
'0.5': 0.125rem,
'1.5': 0.375rem,
'2.5': 0.625rem,
'3.5': 0.875rem,
'1/2': 50%,
'1/3': 33.333333%,
'2/3': 66.666667%,
'1/4': 25%,
'2/4': 50%,
'3/4': 75%,
'1/5': 20%,
'2/5': 40%,
'3/5': 60%,
'4/5': 80%,
'1/6': 16.666667%,
'2/6': 33.333333%,
'3/6': 50%,
'4/6': 66.666667%,
'5/6': 83.333333%,
'1/12': 8.333333%,
'2/12': 16.666667%,
'3/12': 25%,
'4/12': 33.333333%,
'5/12': 41.666667%,
'6/12': 50%,
'7/12': 58.333333%,
'8/12': 66.666667%,
'9/12': 75%,
'10/12': 83.333333%,
'11/12': 91.666667%,
'full': 100%,
'screen': 100vw,
'min': min-content,
'max': max-content,
'fit': fit-content,
);
$map-height: ('0': 0px,
'1': 0.25rem,
'2': 0.5rem,
'3': 0.75rem,
'4': 1rem,
'5': 1.25rem,
'6': 1.5rem,
'7': 1.75rem,
'8': 2rem,
'9': 2.25rem,
'10': 2.5rem,
'11': 2.75rem,
'12': 3rem,
'14': 3.5rem,
'16': 4rem,
'20': 5rem,
'24': 6rem,
'28': 7rem,
'32': 8rem,
'36': 9rem,
'40': 10rem,
'44': 11rem,
'48': 12rem,
'52': 13rem,
'56': 14rem,
'60': 15rem,
'64': 16rem,
'72': 18rem,
'80': 20rem,
'96': 24rem,
'auto': auto,
'px': 1px,
'0.5': 0.125rem,
'1.5': 0.375rem,
'2.5': 0.625rem,
'3.5': 0.875rem,
'1/2': 50%,
'1/3': 33.333333%,
'2/3': 66.666667%,
'1/4': 25%,
'2/4': 50%,
'3/4': 75%,
'1/5': 20%,
'2/5': 40%,
'3/5': 60%,
'4/5': 80%,
'1/6': 16.666667%,
'2/6': 33.333333%,
'3/6': 50%,
'4/6': 66.666667%,
'5/6': 83.333333%,
'full': 100%,
'screen': 100vh,
'min': min-content,
'max': max-content,
'fit': fit-content,
);
$map-maxHeight: ('0': 0px,
'1': 0.25rem,
'2': 0.5rem,
'3': 0.75rem,
'4': 1rem,
'5': 1.25rem,
'6': 1.5rem,
'7': 1.75rem,
'8': 2rem,
'9': 2.25rem,
'10': 2.5rem,
'11': 2.75rem,
'12': 3rem,
'14': 3.5rem,
'16': 4rem,
'20': 5rem,
'24': 6rem,
'28': 7rem,
'32': 8rem,
'36': 9rem,
'40': 10rem,
'44': 11rem,
'48': 12rem,
'52': 13rem,
'56': 14rem,
'60': 15rem,
'64': 16rem,
'72': 18rem,
'80': 20rem,
'96': 24rem,
'px': 1px,
'0.5': 0.125rem,
'1.5': 0.375rem,
'2.5': 0.625rem,
'3.5': 0.875rem,
'full': 100%,
'screen': 100vh,
'min': min-content,
'max': max-content,
'fit': fit-content,
);
$map-maxWidth: ('0': 0rem,
'none': none,
'xs': 20rem,
'sm': 24rem,
'md': 28rem,
'lg': 32rem,
'xl': 36rem,
'2xl': 42rem,
'3xl': 48rem,
'4xl': 56rem,
'5xl': 64rem,
'6xl': 72rem,
'7xl': 80rem,
'full': 100%,
'min': min-content,
'max': max-content,
'fit': fit-content,
'prose': 65ch,
);
$map-minHeight: ('0': 0px,
'full': 100%,
'screen': 100vh,
'min': min-content,
'max': max-content,
'fit': fit-content,
);
$map-minWidth: ('0': 0px,
'full': 100%,
'min': min-content,
'max': max-content,
'fit': fit-content,
);
$map-fontSize: ('xs': 0.75rem,
'sm': 0.875rem,
'base': 1rem,
'lg': 1.125rem,
'xl': 1.25rem,
'2xl': 1.5rem,
'3xl': 1.875rem,
'4xl': 2.25rem,
'5xl': 3rem,
'6xl': 3.75rem,
'7xl': 4.5rem,
'8xl': 6rem,
'9xl': 8rem,
);
$map-fontSizeLineHeight: ('xs': 1rem,
'sm': 1.25rem,
'base': 1.5rem,
'lg': 1.75rem,
'xl': 1.75rem,
'2xl': 2rem,
'3xl': 2.25rem,
'4xl': 2.5rem,
'5xl': 1,
'6xl': 1,
'7xl': 1,
'8xl': 1,
'9xl': 1,
);
$map-fontWeight: ('thin': 100,
'extralight': 200,
'light': 300,
'normal': 400,
'medium': 500,
'semibold': 600,
'bold': 700,
'extrabold': 800,
'black': 900,
);
$map-letterSpacing: ('tighter': -0.05em,
'tight': -0.025em,
'normal': 0em,
'wide': 0.025em,
'wider': 0.05em,
'widest': 0.1em,
);
$map-lineHeight: ('3': .75rem,
'4': 1rem,
'5': 1.25rem,
'6': 1.5rem,
'7': 1.75rem,
'8': 2rem,
'9': 2.25rem,
'10': 2.5rem,
'none': 1,
'tight': 1.25,
'snug': 1.375,
'normal': 1.5,
'relaxed': 1.625,
'loose': 2,
);
$map-listStyleType: ('none': none,
'disc': disc,
'decimal': decimal,
);
$map-textIndent: ('0': 0px,
'1': 0.25rem,
'2': 0.5rem,
'3': 0.75rem,
'4': 1rem,
'5': 1.25rem,
'6': 1.5rem,
'7': 1.75rem,
'8': 2rem,
'9': 2.25rem,
'10': 2.5rem,
'11': 2.75rem,
'12': 3rem,
'14': 3.5rem,
'16': 4rem,
'20': 5rem,
'24': 6rem,
'28': 7rem,
'32': 8rem,
'36': 9rem,
'40': 10rem,
'44': 11rem,
'48': 12rem,
'52': 13rem,
'56': 14rem,
'60': 15rem,
'64': 16rem,
'72': 18rem,
'80': 20rem,
'96': 24rem,
'px': 1px,
'0.5': 0.125rem,
'1.5': 0.375rem,
'2.5': 0.625rem,
'3.5': 0.875rem,
);
$map-opacity: ('0': 0,
'5': 0.05,
'10': 0.1,
'20': 0.2,
'25': 0.25,
'30': 0.3,
'40': 0.4,
'50': 0.5,
'60': 0.6,
'70': 0.7,
'75': 0.75,
'80': 0.8,
'90': 0.9,
'95': 0.95,
'100': 1,
);
$map-textColor: ('brand': #1890ff,
'inherit': inherit,
'current': currentColor,
'transparent': transparent,
'black': #000,
'white': #fff,
'gray': #111827,
'red': #f5222d,
'yellow': #fadb14,
'green': #52c41a,
'blue': #1890ff,
'indigo': #312e81,
'purple': #722ed1,
'pink': #eb2f96,
);
$map-textOpacity: ('0': 0,
'5': 0.05,
'10': 0.1,
'20': 0.2,
'25': 0.25,
'30': 0.3,
'40': 0.4,
'50': 0.5,
'60': 0.6,
'70': 0.7,
'75': 0.75,
'80': 0.8,
'90': 0.9,
'95': 0.95,
'100': 1,
);
$map-backgroundColor: ('brand': #1890ff,
'inherit': inherit,
'current': currentColor,
'transparent': transparent,
'black': #000,
'white': #fff,
'gray': #111827,
'red': #f5222d,
'yellow': #fadb14,
'green': #52c41a,
'blue': #1890ff,
'indigo': #312e81,
'purple': #722ed1,
'pink': #eb2f96,
);
$map-backgroundImage: ('none': none,
'gradient-to-t': linear-gradient(to top, var(--gradient-stops)),
'gradient-to-tr': linear-gradient(to top right, var(--gradient-stops)),
'gradient-to-r': linear-gradient(to right, var(--gradient-stops)),
'gradient-to-br': linear-gradient(to bottom right, var(--gradient-stops)),
'gradient-to-b': linear-gradient(to bottom, var(--gradient-stops)),
'gradient-to-bl': linear-gradient(to bottom left, var(--gradient-stops)),
'gradient-to-l': linear-gradient(to left, var(--gradient-stops)),
'gradient-to-tl': linear-gradient(to top left, var(--gradient-stops)),
);
$map-backgroundOpacity: ('0': 0,
'5': 0.05,
'10': 0.1,
'20': 0.2,
'25': 0.25,
'30': 0.3,
'40': 0.4,
'50': 0.5,
'60': 0.6,
'70': 0.7,
'75': 0.75,
'80': 0.8,
'90': 0.9,
'95': 0.95,
'100': 1,
);
$map-backgroundPosition: ('bottom': bottom,
'center': center,
'left': left,
'left-bottom': left bottom,
'left-top': left top,
'right': right,
'right-bottom': right bottom,
'right-top': right top,
'top': top,
);
$map-backgroundSize: ('auto': auto,
'cover': cover,
'contain': contain,
);
$map-borderColor: ('brand': #1890ff,
'inherit': inherit,
'current': currentColor,
'transparent': transparent,
'black': #000,
'white': #fff,
'gray': #111827,
'red': #f5222d,
'yellow': #fadb14,
'green': #52c41a,
'blue': #1890ff,
'indigo': #312e81,
'purple': #722ed1,
'pink': #eb2f96,
);
$map-borderOpacity: ('0': 0,
'5': 0.05,
'10': 0.1,
'20': 0.2,
'25': 0.25,
'30': 0.3,
'40': 0.4,
'50': 0.5,
'60': 0.6,
'70': 0.7,
'75': 0.75,
'80': 0.8,
'90': 0.9,
'95': 0.95,
'100': 1,
);
$map-borderRadius: ('none': 0px,
'sm': 0.125rem,
'DEFAULT': 0.25rem,
'md': 0.375rem,
'lg': 0.5rem,
'xl': 0.75rem,
'2xl': 1rem,
'3xl': 1.5rem,
'full': 9999px,
);
$map-borderSpacing: ('0': 0px,
'1': 0.25rem,
'2': 0.5rem,
'3': 0.75rem,
'4': 1rem,
'5': 1.25rem,
'6': 1.5rem,
'7': 1.75rem,
'8': 2rem,
'9': 2.25rem,
'10': 2.5rem,
'11': 2.75rem,
'12': 3rem,
'14': 3.5rem,
'16': 4rem,
'20': 5rem,
'24': 6rem,
'28': 7rem,
'32': 8rem,
'36': 9rem,
'40': 10rem,
'44': 11rem,
'48': 12rem,
'52': 13rem,
'56': 14rem,
'60': 15rem,
'64': 16rem,
'72': 18rem,
'80': 20rem,
'96': 24rem,
'px': 1px,
'0.5': 0.125rem,
'1.5': 0.375rem,
'2.5': 0.625rem,
'3.5': 0.875rem,
);
$map-borderWidth: ('0': 0px,
'2': 2px,
'4': 4px,
'8': 8px,
'DEFAULT': 1px,
);
$map-divideColor: ('brand': #1890ff,
'inherit': inherit,
'current': currentColor,
'transparent': transparent,
'black': #000,
'white': #fff,
'gray': #111827,
'red': #f5222d,
'yellow': #fadb14,
'green': #52c41a,
'blue': #1890ff,
'indigo': #312e81,
'purple': #722ed1,
'pink': #eb2f96,
);
$map-divideOpacity: ('0': 0,
'5': 0.05,
'10': 0.1,
'20': 0.2,
'25': 0.25,
'30': 0.3,
'40': 0.4,
'50': 0.5,
'60': 0.6,
'70': 0.7,
'75': 0.75,
'80': 0.8,
'90': 0.9,
'95': 0.95,
'100': 1,
);
$map-divideWidth: ('0': 0px,
'2': 2px,
'4': 4px,
'8': 8px,
'DEFAULT': 1px,
);
$map-boxShadow: ('sm': 0 1px 2px 0 rgb(0 0 0 / 0.05),
'DEFAULT': 0 1px 3px 0 rgb(0 0 0 / 0.1),
'md': 0 4px 6px -1px rgb(0 0 0 / 0.1),
'lg': 0 10px 15px -3px rgb(0 0 0 / 0.1),
'xl': 0 20px 25px -5px rgb(0 0 0 / 0.1),
'2xl': 0 25px 50px -12px rgb(0 0 0 / 0.25),
'inner': inset 0 2px 4px 0 rgb(0 0 0 / 0.05),
'none': none,
);
$map-animation: ('none': none,
'spin': spin 1s linear infinite,
'ping': ping 1s cubic-bezier(0, 0, 0.2, 1) infinite,
'pulse': pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite,
'bounce': bounce 1s infinite,
);
$map-transformOrigin: ('center': center,
'top': top,
'top-right': top right,
'right': right,
'bottom-right': bottom right,
'bottom': bottom,
'bottom-left': bottom left,
'left': left,
'top-left': top left,
);
$map-transitionDelay: ('75': 75ms,
'100': 100ms,
'150': 150ms,
'200': 200ms,
'300': 300ms,
'500': 500ms,
'700': 700ms,
'1000': 1000ms,
);
$map-transitionDuration: ('75': 75ms,
'100': 100ms,
'150': 150ms,
'200': 200ms,
'300': 300ms,
'500': 500ms,
'700': 700ms,
'1000': 1000ms,
'DEFAULT': 150ms,
);
$map-transitionProperty: ('none': none,
'all': all,
'opacity': opacity,
'shadow': box-shadow,
'transform': transform,
);
$map-transitionTimingFunction: ('DEFAULT': cubic-bezier(0.4, 0, 0.2, 1),
'linear': linear,
'in': cubic-bezier(0.4, 0, 1, 1),
'out': cubic-bezier(0, 0, 0.2, 1),
'in-out': cubic-bezier(0.4, 0, 0.2, 1),
);
$map-translate: ('0': 0px,
'1': 0.25rem,
'2': 0.5rem,
'3': 0.75rem,
'4': 1rem,
'5': 1.25rem,
'6': 1.5rem,
'7': 1.75rem,
'8': 2rem,
'9': 2.25rem,
'10': 2.5rem,
'11': 2.75rem,
'12': 3rem,
'14': 3.5rem,
'16': 4rem,
'20': 5rem,
'24': 6rem,
'28': 7rem,
'32': 8rem,
'36': 9rem,
'40': 10rem,
'44': 11rem,
'48': 12rem,
'52': 13rem,
'56': 14rem,
'60': 15rem,
'64': 16rem,
'72': 18rem,
'80': 20rem,
'96': 24rem,
'px': 1px,
'0.5': 0.125rem,
'1.5': 0.375rem,
'2.5': 0.625rem,
'3.5': 0.875rem,
'1/2': 50%,
'1/3': 33.333333%,
'2/3': 66.666667%,
'1/4': 25%,
'2/4': 50%,
'3/4': 75%,
'full': 100%,
);
$map-rotate: ('0': 0deg,
'1': 1deg,
'2': 2deg,
'3': 3deg,
'6': 6deg,
'12': 12deg,
'45': 45deg,
'90': 90deg,
'180': 180deg,
);
$map-saturate: ('0': 0,
'50': .5,
'100': 1,
'150': 1.5,
'200': 2,
);
$map-scale: ('0': 0,
'50': .5,
'75': .75,
'90': .9,
'95': .95,
'100': 1,
'105': 1.05,
'110': 1.1,
'125': 1.25,
'150': 1.5,
);
$map-skew: ('0': 0deg,
'1': 1deg,
'2': 2deg,
'3': 3deg,
'6': 6deg,
'12': 12deg,
);
$map-cursor: ('auto': auto,
'default': default,
'pointer': pointer,
'wait': wait,
'text': text,
'move': move,
'help': help,
'not-allowed': not-allowed,
'none': none,
'context-menu': context-menu,
'progress': progress,
'cell': cell,
'crosshair': crosshair,
'vertical-text': vertical-text,
'alias': alias,
'copy': copy,
'no-drop': no-drop,
'grab': grab,
'grabbing': grabbing,
'all-scroll': all-scroll,
'col-resize': col-resize,
'row-resize': row-resize,
'n-resize': n-resize,
'e-resize': e-resize,
's-resize': s-resize,
'w-resize': w-resize,
'ne-resize': ne-resize,
'nw-resize': nw-resize,
'se-resize': se-resize,
'sw-resize': sw-resize,
'ew-resize': ew-resize,
'ns-resize': ns-resize,
'nesw-resize': nesw-resize,
'nwse-resize': nwse-resize,
'zoom-in': zoom-in,
'zoom-out': zoom-out,
);
