    $normalize: true;
        $colours-primary: #fc0;
        $sizes-small: 100px;
        $sizes-medium: 500px;
        $sizes-large: 1000px;
        $zIndex-model: 100;
        $zIndex-dropdown: 50;
        $zIndex-header: 10;
        $screens-sm: 640px;
        $screens-md: 768px;
        $screens-lg: 1024px;
        $screens-xl: 1280px;
        $screens-2xl: 1536px;
        $gridTemplateRows-1: repeat(1, minmax(0, 1fr));
        $gridTemplateRows-2: repeat(2, minmax(0, 1fr));
        $gridTemplateRows-3: repeat(3, minmax(0, 1fr));
        $gridTemplateRows-4: repeat(4, minmax(0, 1fr));
        $gridTemplateRows-5: repeat(5, minmax(0, 1fr));
        $gridTemplateRows-6: repeat(6, minmax(0, 1fr));
        $gridTemplateRows-none: none;
        $spacing-0: 0px;
        $spacing-4: 1rem;
        $spacing-5: 1.25rem;
        $spacing-6: 1.5rem;
        $spacing-7: 1.75rem;
        $spacing-8: 2rem;
        $spacing-9: 2.25rem;
        $spacing-10: 2.5rem;
        $spacing-11: 2.75rem;
        $spacing-12: 3rem;
        $spacing-14: 3.5rem;
        $spacing-16: 4rem;
        $spacing-20: 5rem;
        $spacing-24: 6rem;
        $spacing-28: 7rem;
        $spacing-32: 8rem;
        $spacing-36: 9rem;
        $spacing-40: 10rem;
        $spacing-44: 11rem;
        $spacing-48: 12rem;
        $spacing-52: 13rem;
        $spacing-56: 14rem;
        $spacing-60: 15rem;
        $spacing-64: 16rem;
        $spacing-72: 18rem;
        $spacing-80: 20rem;
        $spacing-96: 24rem;
        $spacing-px: 1px;
