@use '../../dev/config';

@function pick($value, $default) {

  @if $value != '' {

    @if type-of($value: $value) == 'string' {
      @return unquote($string: $value);
    }
    @else {
      @return $value;
    }

  }
  @else {
    @return $default
  }

}

$class-prefix: pick(config.$class-prefix, '');

$class-connector: pick(config.$class-connector, '-');

$class-connectors: pick(config.$class-connectors, ());

$use-normalize: pick(config.$use-normalize, true);

// CSS 样式命名
// $atomic-width-name: wth;
// => .wth-screen { width: 100vw; }
$atomic-container-name: container;

$atomic-box-decoration-break-name: decoration;

$atomic-box-sizing-name: box;

$atomic-float-name: float;

$atomic-clear-name: clear;

$atomic-object-fit-name: object;

$atomic-object-position-name: object;

$atomic-overflow-name: overflow;

$atomic-overscroll-behavior-name: overscroll;

$atomic-position-name: position;

$atomic-inset-name: inset;
$atomic-top-name: top;
$atomic-right-name: right;
$atomic-bottom-name: bottom;
$atomic-left-name: left;

$atomic-visible-name: visible;

$atomic-z-index-name: z;

$atomic-flex-name: flex;

$atomic-order-name: order;

$atomic-grid-name: grid;
$atomic-grid-column-name: col;
$atomic-grid-row-name: row;
$atomic-grid-auto-name: auto;

$atomic-gap-name: gap;

$atomic-justify-content-name: justify;

$atomic-justify-items-name: justify-items;

$atomic-justify-self-name: justify-self;

$atomic-align-content-name: content;

$atomic-align-items-name: items;

$atomic-align-self-name: self;

$atomic-place-content-name: place-content;

$atomic-place-items-name: place-items;

$atomic-place-self-name: place-self;

$atomic-padding-name: p;

$atomic-margin-name: m;

$atomic-width-name: w;

$atomic-height-name: h;

$atomic-font-family-name: font;

$atomic-font-size-name: text;

$atomic-font-smoothing-name: antialiased;

$atomic-font-style-name: italic;

$atomic-font-weight-name: font;

$atomic-letter-spacing-name: tracking;

$atomic-line-height-name: leading;

$atomic-list-style-name: list;

$atomic-text-align-name: text;

$atomic-text-color-name: text;

$atomic-text-opacity-name: text-opacity;

$atomic-text-overflow-name: overflow;

$atomic-line-clamp-name: line-clamp;

$atomic-vertical-align-name: align;

$atomic-white-space-name: whitespace;

$atomic-word-break-name: break;

$atomic-background-attachment-name: bg;

$atomic-background-clip-name: bg-clip;

$atomic-background-color-name: bg;

$atomic-background-opacity-name: bg-opacity;

$atomic-background-origin-name: bg-origin;

$atomic-background-position-name: bg;

$atomic-background-repeat-name: bg;

$atomic-background-size-name: bg;

$atomic-background-image-name: bg;

$atomic-background-image-gradient-from-name: from;
$atomic-background-image-gradient-via-name: via;
$atomic-background-image-gradient-to-name: to;

// CSS Var命名
$atomic-var-text-opacity-name: --text-opacity;

$atomic-var-background-opacity-name: --bg-opacity;

$atomic-var-gradient-stops-name: --gradient-stops;
$atomic-var-gradient-from-name: --gradient-from;
$atomic-var-gradient-to-name: --gradient-to;

// CSS Root Var命名
$atomic-var-color-brand-name: --color-brand;

$atomic-var-color-white-name: --color-white;

$atomic-var-color-black-name: --color-black;

$atomic-var-color-gray-name: --color-gray;

$atomic-var-color-red-name: --color-red;

$atomic-var-color-yellow-name: --color-yellow;

$atomic-var-color-green-name: --color-green;

$atomic-var-color-blue-name: --color-blue;

$atomic-var-color-indigo-name: --color-indigo;

$atomic-var-color-purple-name: --color-purple;

$atomic-var-color-pink-name: --color-pink;

// CSS 颜色
// $atomic-color-brand-base: #52c41a;
// => .text-brand { color: #52c41a; }
// => .text-brand-50 { color: #f6fcf4; }
// => ...
// => .text-brand-900 { color: #63ca31; }
$atomic-color-brand-base: #1890ff;

$atomic-color-white-base: #fff;

$atomic-color-black-base: invert($atomic-color-white-base, 100%);

$atomic-color-gray-base: #111827;

$atomic-color-red-base: #f5222d;

$atomic-color-yellow-base: #fadb14;

$atomic-color-green-base: #52c41a;

$atomic-color-blue-base: #1890ff;

$atomic-color-indigo-base: #312e81;

$atomic-color-purple-base: #722ed1;

$atomic-color-pink-base: #eb2f96;

// CSS 响应式断点前缀
$atomic-breakpoint-sm-name: sm;

$atomic-breakpoint-md-name: md;

$atomic-breakpoint-lg-name: lg;

$atomic-breakpoint-xl-name: xl;

$atomic-breakpoint-2xl-name: 2xl;

// CSS 媒体查询屏幕宽度
$atomic-screen-sm-min: 640px;

$atomic-screen-md-min: 768px;

$atomic-screen-lg-min: 1024px;

$atomic-screen-xl-min: 1280px;

$atomic-screen-2xl-min: 1536px;